<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.graduate.dao.CouponMapper">
    <resultMap id="BaseResultMap" type="com.zhao.graduate.POJO.Coupon">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result property="userId" column="user_id"></result>
        <result property="modelId" column="model_id"></result>
        <result property="startDate" column="start_date" jdbcType="TIMESTAMP"></result>
        <result property="endDate" column="end_date" jdbcType="TIMESTAMP"></result>
        <!--<association property="userInfo" resultMap="com.zhao.graduate.dao.UserMapper.BaseResultMap"/>-->
        <association property="couponModel" resultMap="com.zhao.graduate.dao.CouponModelMapper.BaseResultMap"/>
    </resultMap>

    <resultMap id="withUserInfoMap" type="com.zhao.graduate.POJO.Coupon" extends="BaseResultMap">
        <collection property="userInfoList" resultMap="com.zhao.graduate.dao.UserMapper.BaseResultMap"></collection>
    </resultMap>

    <select id="selectAllCoupon" resultMap="BaseResultMap">
        select * from
        coupon c inner join coupon_model cm on c.model_id=cm.id;
    </select>

    <select id = "selectCouponWithUser" resultMap="withUserInfoMap">
        select * from coupon c inner join user u on c.user_id = u.id;
    </select>

</mapper>
