<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.graduate.dao.EvaluateMapper">
    <resultMap id="BaseResultMap" type="com.zhao.graduate.POJO.Evaluate">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="desc" jdbcType="VARCHAR" property="desc"/>
        <result column="image" jdbcType="VARCHAR" property="image" />
        <result column="date" jdbcType="TIMESTAMP" property="date"/>
        <result column="star" jdbcType="INTEGER" property="star"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="shop_id" jdbcType="INTEGER" property="shopId"/>
    </resultMap>

    <select id="selectEvaluateByShopId" resultMap="BaseResultMap">
        select * from evaluate where shop_id = #{shopId}
    </select>

    <insert id="insertEvaluate" useGeneratedKeys="true" keyProperty="id" parameterType="com.zhao.graduate.POJO.Evaluate">
        insert into evaluate (description,image,date,anonymous,user_id,shop_id)
        values (#{desc},#{image},#{date},#{anonymous},#{userId},#{shopId})
    </insert>

</mapper>
