<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.graduate.dao.FoodMapper">
    <resultMap id="BaseResultMap" type="com.zhao.graduate.POJO.Food">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result property="shopId" jdbcType="INTEGER" column="shop_id"/>
        <result property="categoryId" jdbcType="INTEGER" column="category_id"/>
        <result property="name" jdbcType="VARCHAR" column="name"/>
        <result property="price" jdbcType="INTEGER" column="price"/>
        <result property="originPrice" jdbcType="INTEGER" column="originPrice"/>
        <result property="image" jdbcType="VARCHAR" column="image"/>
        <result property="salesVolumes" jdbcType="INTEGER" column="sales_Volumes"/>
        <result property="discountCount" jdbcType="INTEGER" column="discount_count"/>

        <association property="category" resultMap="com.zhao.graduate.dao.CategoryMapper.BaseResultMap"></association>
        <association property="shop" resultMap="com.zhao.graduate.dao.ShopMapper.BaseResultMap"></association>
    </resultMap>

    <select id="selectFoodByIdAndCategoryId" resultMap="BaseResultMap">
        select * from food
        where 1=1
        <if test="id!=null">
            and id = #{id}
        </if>
        <if test="categoryId!=null">
            and category_id = #{categoryId}
        </if>
        <if test="shopId!=null">
            and shop_id = #{shopId}
        </if>
    </select>

    <select id="selectFoodByShopIdAndCategoryId">
        select * from
        food f
        inner join shop s on f.shop_id = s.id
        inner join category c on f.category_id = c.id
        where f.id=#{id};
    </select>
</mapper>