<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.graduate.dao.ShopMapper">
    <resultMap id="BaseResultMap" type="com.zhao.graduate.POJO.Shop">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result property="name" column="name" jdbcType="VARCHAR"></result>
        <result property="tel" column="tel" jdbcType="VARCHAR"></result>
        <result property="address" column="address" jdbcType="VARCHAR"></result>
        <result property="desc" column="desc" jdbcType="VARCHAR"></result>
        <result property="shopImage" column="shop_image" jdbcType="VARCHAR"></result>
        <result property="time" column="time" jdbcType="INTEGER"></result>
        <result property="logo" column="logo" jdbcType="VARCHAR"></result>
        <result property="score" column="score" jdbcType="INTEGER"></result>
        <result property="minCost" column="min_cost" jdbcType="INTEGER"></result>
        <result property="conveyCost" column="convey_cost" jdbcType="INTEGER"></result>
        <result property="salesVolumes" column="sales_volumes" jdbcType="INTEGER"></result>
        <result property="startTime" column="start_date" jdbcType="VARCHAR"></result>
        <result property="endTime" column="end_date" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="selectShopById" resultMap="BaseResultMap">
        select * from shop where id = #{id}
    </select>
</mapper>
